<!-- <p-dialog header={{popupHeader}}  width="640"
blockScroll="true"
autoZIndex="true"
modal="true"
[(visible)]="true"
appendTo="body"

> -->
<div >
   
    <div *ngIf="passwordExpired">
        <p-messages position="top-center"></p-messages>
    </div>
    
 <!--<div  *ngIf="passwordExpired"   class="p-grid" >
    <div class="p-col-12">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
      </div> -->

      <div class="p-grid">
    <div class="p-col-12">
        <span class="ui-float-label">
            <input type="password" #oldpassword="ngModel"   name="oldpassword"
            required="true" pPassword [(ngModel)]="oldPassword" [feedback]=false/>
            <label for="float-input"> {{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</label>
        </span>
    
        <div *ngIf="(oldpassword.dirty || oldpassword.touched)  && !oldPassword" class="validation-error" >
            {{ 'LOGIN.OLD_PASSWORD' | translate }}    {{ 'CREATE_USER.IS_REQUIRED' | translate }}
    </div>

    </div>
    </div>
    <div class="p-grid">
    <div class="p-col-12">
        <span class="ui-float-label">
            <input type="password"  #password="ngModel" (input)= "hansetpass.control.updateValueAndValidity()" name="password"
            required="true" pPassword pPassword [(ngModel)]="newPassword"  pattern="^(?=.*[A-Z])(?=.*[!@#$%&*_])(?=.*[0-9])(?=.*[a-z]).{8,20}"/>
            <label for="float-input"> {{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</label>
        </span>
        <div class="md-errors-spacer  validation-error" [hidden]="password.valid || password.untouched">
        <div *ngIf="(password.dirty || password.touched) && !newPassword" class="validation-error" >
            {{ 'LOGIN.PASSWORD' | translate }}    {{ 'CREATE_USER.IS_REQUIRED' | translate }}
    </div>
    <div *ngIf="password.errors && password.errors.pattern">
            Password must contain at least one capital letter, one small character, one number and a special character
    </div>
    </div>
      </div>
      </div>
      <div class="p-grid">
      <div class="p-col-12">
          <span class="ui-float-label">
              <input #hansetpass="ngModel" type="password"  appConfirmPasswordValidator="password" validateEqual="password"   name="handsetpass" required="true" pPassword [(ngModel)]="confirmPassword"/>
              <label for="float-input">{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
          </span>
          <div *ngIf="(hansetpass.dirty || hansetpass.touched) && !confirmPassword"  class="validation-error" >
              {{ 'CREATE_USER.RETYPE_PASSWORD' | translate }}    {{ 'CREATE_USER.IS_REQUIRED' | translate }}
         </div>

             <div *ngIf="hansetpass.touched && hansetpass.errors?.NotEqual && confirmPassword"  class="validation-error" >
                 Passwords are Not matched
             </div>
        </div>
        </div><br>
        <div class="p-grid p-justify-end">
           
                <button pButton type="button" label="{{ 'CHANGE_PASSWORD.CANCEL_BUTTON' | translate }}" class="ui-button-success" (click) ="exitDialog()" iconPos="left"></button>
                <button pButton type="button" [disabled]="f.invalid || disabled" label="{{ 'CHANGE_PASSWORD.UPDATE_BUTTON' | translate }}"(click) ="changePassword()"iconPos="left"></button>      
         
        </div><br>
       <!-- <p-toast position="top-center"></p-toast> -->
     
    </div>
<!-- </p-dialog> -->


